.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  border-color: #7c7b78;
  border-style: solid;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex: 0.25;
  height: auto;
  margin: 16px 8px 16px 16px;
}

.form-label {
  font-weight: bold;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding does not affect width */
  margin-top: 5px;
}

.form button {
  background-color: rgb(147, 147, 250);
  width: 100%;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 700;
  font-size: 1.2em;
}

.form button:hover {
  background-color: rgb(119, 119, 224);
}

.form textarea {
  height: 100px; /* Sets a fixed height for the textarea */
}
