.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    background-color: #333;
    color: white;
 
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    font-size: 1em;
    color: white;
    background-color: #768594;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #404b57;
}